<div class="col-lg-12">
    <h4 id="contact">Contact</h4>
    <p>Moodle Packagist is maintained by the <a href="http://www.clamp-it.org/">Collaborative Liberal Arts Moodle Project</a> (CLAMP). Please see GitHub for issue tracking and support.</p>
</div>
