{% extends "layout.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <p class="mission">This site mirrors the Moodle <a href=
        "https://moodle.org/plugins">Plugins</a> database as a <a href=
        "https://getcomposer.org/">Composer</a> repository.
    </p>

    {% include 'searchbar.twig' %}
    <div class="row">
        {% include 'about.twig' %}
    </div>
    <div class="row">
        {% include 'contact.twig' %}
    </div>
{% endblock %}
